<%- include("header") -%>

    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <div class="row">
                
            <div class="column">
                <div class="header">
                    <p>Name</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Email</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Balance</p>
                </div>
            </div>

            <div class="column">
                <div class="header">
                    <p>Make Transaction</p>
                </div>
            </div>

        </div>

        <% newListItems.forEach(function(user) { %>
        
        <form action="/transaction" method="POST">
            <div class="row">
                
                <div class="column">
                    <div class="user">
                        <p><%=  user.name  %></p>
                    </div>
                </div>

                <div class="column">
                    <div class="user">
                        <p name="email" ><%=  user.email  %></p>
                    </div>
                </div>

                <div class="column">
                    <div class="user">
                        <p><%=  user.balance  %></p>
                    </div>
                </div>

                <div class="column">
                    <div class="user">
                        <button type="submit" name="new_transaction" value="<%= user._id -%>" class="transaction-button">Transaction</button>
                    </div>
                </div>

            </div>
        
        </form>
        
        <% }) %>

    </div>

<%- include("footer") -%>